# 01 - Build Model
---

### Description:
build_model script: should read train_potus_by_county.csv and then build, train and tune your best predictive model. The script should save your best model to the filesystem and it should also log data about the expected performance of the model

### Sections:
1. Setups & Reading in the Data
2. Exploration
3. Binary Encoding the Winner Column
4. Perform Train Test Split
5. Model Selection and First Attempt
6. Explore resampling techniques
7.

## Setups

Importing libraries and stating data locations

In [1]:
# importing the libraries tsert
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.svm import SVC
from imblearn.metrics import classification_report_imbalanced
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import accuracy_score

from collections import Counter

In [2]:
training_data = r"data/train_potus_by_county.csv"
testing_data = r"data/test_potus_by_county.csv"

## Reading in the data

In [3]:
df = pd.read_csv(training_data)

In [4]:
# Checking how the data looks
df.head(5)

,Total population,Median age,% BachelorsDeg or higher,Unemployment rate,Per capita income,Total households,Average household size,% Owner occupied housing,% Renter occupied housing,% Vacant housing,Median home value,Population growth,House hold growth,Per capita income growth,Winner
0,9278,37.9,12.6,21.3,13992.0,3802,2.42,51.9,16.6,31.6,63959.0,-0.69,-0.49,0.71,Barack Obama
1,18594,36.3,9.7,14.3,14622.0,6764,2.55,63.7,16.2,20.1,74330.0,-0.13,0.03,0.85,Barack Obama
2,662628,37.9,27.9,12.1,23909.0,267862,2.41,57.0,28.8,14.2,112687.0,-0.09,0.00,0.55,Barack Obama
3,21292,38.9,14.1,15.7,16829.0,8547,2.47,63.5,17.1,19.4,73643.0,-0.59,-0.43,0.57,Barack Obama
4,13252,34.5,15.0,15.8,13012.0,5222,2.47,53.7,20.7,25.6,56642.0,-1.16,-1.03,0.69,Barack Obama

In [5]:
# Checking for null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Total population           1213 non-null   int64
 1   Median age                 1213 non-null   float64
 2   % BachelorsDeg or higher   1213 non-null   float64
 3   Unemployment rate          1213 non-null   float64
 4   Per capita income          1213 non-null   float64
 5   Total households           1213 non-null   int64
 6   Average household size     1213 non-null   float64
 7   % Owner occupied housing   1213 non-null   float64
 8   % Renter occupied housing  1213 non-null   float64
 9   % Vacant housing           1213 non-null   float64
 10  Median home value          1213 non-null   float64
 11  Population growth          1213 non-null   float64
 12  House hold growth          1213 non-null   float64
 13  Per capita income growth   1213 non-null   float64
 14  Winner                     1213 non-null   object
dtypes: float64(12), int64(2), object(1)
memory usage: 142.3+ KB

In [6]:
# Briefly checking the value distribution
df.describe()

,Total population,Median age,% BachelorsDeg or higher,Unemployment rate,Per capita income,Total households,Average household size,% Owner occupied housing,% Renter occupied housing,% Vacant housing,Median home value,Population growth,House hold growth,Per capita income growth
count,1.213000e+03,1213.000000,1213.000000,1213.000000,1213.000000,1.213000e+03,1213.000000,1213.000000,1213.000000,1213.000000,1213.000000,1213.000000,1213.000000,1213.000000
mean,1.019248e+05,39.954493,19.186480,9.837593,21118.305853,3.805129e+04,2.493817,60.339324,21.881946,17.779225,118892.893652,0.255754,0.340956,2.030660
std,3.659055e+05,4.652347,8.405849,3.865796,5046.038916,1.246130e+05,0.203625,8.929037,7.398402,10.125619,71060.359705,0.933166,0.939244,0.742566
min,3.240000e+02,24.500000,6.400000,1.000000,7908.000000,9.800000e+01,1.840000,15.000000,4.600000,2.600000,29622.000000,-2.090000,-2.120000,0.050000
25%,1.162900e+04,37.300000,13.400000,7.400000,17989.000000,4.555000e+03,2.360000,55.800000,17.300000,10.800000,78313.000000,-0.360000,-0.250000,1.680000
50%,2.591600e+04,40.000000,17.100000,9.600000,20265.000000,1.000800e+04,2.460000,61.800000,20.600000,15.000000,100381.000000,0.070000,0.160000,2.130000
75%,6.743000e+04,42.800000,22.200000,12.100000,23217.000000,2.583000e+04,2.580000,66.200000,25.000000,21.900000,135466.000000,0.720000,0.780000,2.570000
max,1.024050e+07,56.600000,61.600000,26.500000,51818.000000,3.292577e+06,3.710000,81.900000,74.200000,65.900000,815417.000000,6.070000,6.420000,4.180000

In [7]:
# checking if the data is balanced
df.groupby("Winner").size()

Winner
Barack Obama    264
Mitt Romney     949
dtype: int64

## Binary Encode the Winner column

In [8]:
# Binary encode the the winner column
le = preprocessing.LabelEncoder()
le.fit(df['Winner'])

LabelEncoder()

In [9]:
df['Winner'] = le.transform(df['Winner'].copy())
le.classes_

array(['Barack Obama', 'Mitt Romney'], dtype=object)

In [10]:
# Checking for the encoded version of the tag column
df['Winner'].unique()

array([0, 1])

## Performing a train test split

In [11]:
# Importing the preparation libraries
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import train_test_split

In [12]:
# Splitting up the feature vs label columns
features_col = [i for i in df.columns if i != "Winner"]

# Changing the data set into numpy array for preparation
X = np.array(df[features_col])
y = np.array(df['Winner'])

In [13]:
# Perform a simple train test split
X_train, X_test, y_train, y_test = train_test_split(
                                                X, 
                                                y, 
                                                random_state=1,
                                                train_size=0.75,
                                                shuffle=True,
                                                stratify=y
                                            )

In [14]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
# X_scaler = scaler.fit(X_train)

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Adding Random Over Sampling

In [15]:
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=1)
# X_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)

In [16]:
from sklearn.decomposition import PCA

pca = PCA(n_components=10, svd_solver='auto')
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

In [17]:
X_resampled_pca, y_resampmled_pca = ros.fit_resample(X_train_pca, y_train)

In [18]:
model = SVC(kernel='rbf')
model.fit(X_resampled_pca, y_resampmled_pca)

y_pred = model.predict(X_test_pca)

print(classification_report_imbalanced(y_test, y_pred))

print('-'*20)
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")

                   pre       rec       spe        f1       geo       iba       sup

          0       0.62      0.64      0.89      0.63      0.75      0.55        66
          1       0.90      0.89      0.64      0.89      0.75      0.58       238

avg / total       0.84      0.84      0.69      0.84      0.75      0.58       304

--------------------
Accuracy: 0.8355263157894737

# Testing

In [19]:
tdf = pd.read_csv(testing_data)

In [20]:
tdf

,Total population,Median age,% BachelorsDeg or higher,Unemployment rate,Per capita income,Total households,Average household size,% Owner occupied housing,% Renter occupied housing,% Vacant housing,Median home value,Population growth,House hold growth,Per capita income growth
0,695751,34.692593,19.896296,10.651852,25624.074074,248724,2.816296,42.044444,25.755556,32.207407,179329.851852,-0.295185,-0.239259,2.62963
1,28759,37.300000,13.100000,14.300000,15978.000000,10447,2.450000,58.700000,21.200000,20.100000,79052.000000,-0.230000,-0.100000,0.71000
2,10926,36.200000,9.500000,17.000000,12847.000000,3749,2.480000,58.700000,20.100000,21.200000,72014.000000,-0.770000,-0.750000,1.05000
3,13266,40.900000,10.900000,20.900000,15340.000000,5624,2.340000,59.800000,13.900000,26.300000,68596.000000,-0.610000,-0.450000,0.73000
4,42841,37.000000,16.300000,22.600000,15369.000000,17046,2.480000,54.500000,28.200000,17.200000,74130.000000,-0.740000,-0.570000,0.76000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1896,8640,44.400000,22.700000,3.900000,22937.000000,3557,2.410000,49.500000,17.000000,33.500000,245091.000000,4.330000,4.490000,1.58000
1897,41019,35.200000,17.800000,7.400000,25548.000000,15939,2.530000,66.400000,21.700000,11.900000,170417.000000,1.170000,1.370000,2.20000
1898,21330,31.200000,15.900000,7.800000,21023.000000,7628,2.750000,63.100000,20.900000,16.000000,154416.000000,1.170000,1.360000,1.65000
1899,7966,41.800000,18.800000,8.900000,22564.000000,3240,2.400000,65.500000,23.400000,11.100000,133226.000000,-0.280000,-0.140000,2.07000
1900,7160,43.600000,15.400000,6.000000,20567.000000,2905,2.340000,63.300000,17.600000,19.100000,119712.000000,0.730000,0.930000,2.07000

In [21]:
benchmark_X = np.array(tdf[features_col])
benchmark_X_scaled = scaler.transform(benchmark_X)

In [22]:
benchmark_X_pca = pca.fit_transform(benchmark_X_scaled)

In [23]:
y_test_pred = model.predict(benchmark_X_pca)

In [24]:
y_test_pred.sum()

1247

In [25]:
len(y_test_pred)

1901

In [26]:
1247/1901

0.6559705418200947

In [27]:
949+1247

2196

In [28]:
(1901 - 1247) + 264

918

In [29]:
df.groupby('Winner').count()

,Total population,Median age,% BachelorsDeg or higher,Unemployment rate,Per capita income,Total households,Average household size,% Owner occupied housing,% Renter occupied housing,% Vacant housing,Median home value,Population growth,House hold growth,Per capita income growth
Winner,,,,,,,,,,,,,,
0,264,264,264,264,264,264,264,264,264,264,264,264,264,264
1,949,949,949,949,949,949,949,949,949,949,949,949,949,949

In [30]:
len(df)

1213

In [31]:
len(tdf)

1901

In [32]:
print(f"red: {(949 + 1247) / (len(df) + len(tdf))}")

red: 0.7052023121387283

In [33]:
len(df) + len(tdf)

3114

In [34]:
949 + 1247

2196

In [35]:
# from sklearn.svm import SVC


# model = SVC(kernel='rbf')
# model.fit(X_resampled, y_resampled)

# y_pred = model.predict(X_test_scaled)

# print(classification_report_imbalanced(y_test, y_pred))

# print('-'*20)
# print(accuracy_score(y_test, y_pred))

In [36]:
len(df)

1213

In [38]:
odf = pd.read_excel("data/US_elect_county.xls")

WARNING *** file size (3825153) not 512 + multiple of sector size (512)

In [39]:
checkdf = odf.groupby(["State Postal","County Name"], as_index=False).agg({'Obama vote' : 'sum', 'Romney vote' : 'sum'})

In [40]:
checkdf['result'] = checkdf['Obama vote'] - checkdf['Romney vote']

In [41]:
checkdf['result'] = checkdf['result'].apply(lambda x : 0 if (x < 0) else 1)

In [42]:
checkdf['result'].sum()

1549

In [43]:
odf['result'] = odf['%'] - odf['%.1']

In [44]:
odf['result'] = odf['result'].apply(lambda x : 0 if (x < 0) else 1)

In [45]:
odf['result'].sum()

1554

In [46]:
odf.groupby('result').count()

        State Postal  County Name  FIPS  Obama vote     %  Romney vote   %.1
result
0               2520         2520  2520        2520  2520         2520  2520
1               1554         1554  1554        1554  1552         1554  1552

In [47]:
# from imblearn import FunctionSampler
# from imblearn.over_sampling import ADASYN, RandomOverSampler, SMOTE
# from imblearn.pipeline import make_pipeline
# from sklearn.neighbors import KNeighborsClassifier

# classifier = SVC(kernel='rbf', probability=True)

# pipeline = [
#     make_pipeline(FunctionSampler(), classifier),
#     make_pipeline(RandomOverSampler(random_state=42), classifier),
#     make_pipeline(ADASYN(random_state=42), classifier),
#     make_pipeline(SMOTE(random_state=42), classifier),
# ]

In [48]:
# from sklearn.model_selection import StratifiedKFold

# cv = StratifiedKFold(n_splits=3)

In [49]:
# from sklearn.metrics import RocCurveDisplay, roc_curve, auc

# pos_label = 0
# disp = []

# for model in pipeline:
#     # compute the mean fpr/tpr to get the mean ROC curve
#     mean_tpr, mean_fpr = 0.0, np.linspace(0, 1, 100)
#     for train, test in cv.split(X, y):
#         model.fit(X[train], y[train])
#         y_proba = model.predict_proba(X[test])

#         pos_label_idx = np.flatnonzero(model.classes_ == pos_label)[0]
#         fpr, tpr, thresholds = roc_curve(
#             y[test], y_proba[:, pos_label_idx], pos_label=pos_label
#         )
#         mean_tpr += np.interp(mean_fpr, fpr, tpr)
#         mean_tpr[0] = 0.0

#     mean_tpr /= cv.get_n_splits(X, y)
#     mean_tpr[-1] = 1.0
#     mean_auc = auc(mean_fpr, mean_tpr)

#     # Create a display that we will reuse to make the aggregated plots for
#     # all methods
#     disp.append(
#         RocCurveDisplay(
#             fpr=mean_fpr,
#             tpr=mean_tpr,
#             roc_auc=mean_auc,
#             estimator_name=f"{model[0].__class__.__name__}",
#         )
#     )

In [50]:


# fig, ax = plt.subplots(figsize=(9, 9))
# for d in disp:
#     d.plot(ax=ax, linestyle="--")
# ax.plot([0, 1], [0, 1], linestyle="--", color="k")
# ax.axis("square")
# fig.suptitle("Comparison of over-sampling methods \nwith a 3NN classifier")
# ax.set_xlim([0, 1])
# ax.set_ylim([0, 1])
# sns.despine(offset=10, ax=ax)
# plt.tight_layout()
# plt.show()